In [1]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('credit_risk_dataset.csv')

In [3]:
df

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [4]:
df.describe().style.background_gradient(cmap = 'CMRmap')

In [5]:
data = df.copy()

In [6]:
# data.pivot_table(index='person_age',columns='loan_status',values='person_income',aggfunc='count').reset_index().sort_values(by='person_age',ascending=False)

In [7]:
cre_age = data[data['person_age'] <= 70]
cre_age.reset_index(drop = True , inplace= True)
cre_age.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [8]:
# cre_age.pivot_table(index='person_emp_length',columns='loan_status',values='person_income',aggfunc='count').reset_index().sort_values(by='person_emp_length',ascending=False)

In [9]:
person_emp = cre_age[cre_age['person_emp_length'] <= 47]
person_emp.reset_index(drop = True , inplace= True)
person_emp.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [10]:
person_emp.describe().style.background_gradient(cmap = 'rainbow')

In [11]:
person_emp.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3045
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [12]:
cre_data = person_emp.copy()

In [13]:
cre_data.fillna({'loan_int_rate': cre_data['loan_int_rate'].median()}, inplace= True)

In [14]:
cre_data.isna().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [15]:
cre_data.describe().style.background_gradient(cmap= 'rainbow')

In [16]:
cre_data['loan_status'].value_counts()

loan_status
0    24846
1     6825
Name: count, dtype: int64

In [17]:
6825/(24846+6825)

0.21549682675002368

In [18]:
# cre_data['person_home_ownership'].value_counts()
cre_data.groupby('person_home_ownership').count()['loan_intent']

person_home_ownership
MORTGAGE    13088
OTHER         107
OWN          2410
RENT        16066
Name: loan_intent, dtype: int64

In [19]:
# cre_data['loan_intent'].value_counts()
cre_data.groupby('loan_intent').count()['person_home_ownership']

loan_intent
DEBTCONSOLIDATION    5064
EDUCATION            6288
HOMEIMPROVEMENT      3510
MEDICAL              5891
PERSONAL             5365
VENTURE              5553
Name: person_home_ownership, dtype: int64

## Categorical Feature Treatment

In [20]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [21]:
data_tre = cre_data.copy()

In [22]:
data_tre.drop('loan_grade', axis = 1 , inplace= True)

In [23]:
person_home_ownership = pd.get_dummies(data_tre['person_home_ownership'], drop_first= True).astype(int)
loan_intent = pd.get_dummies(data_tre['loan_intent'], drop_first= True).astype(int)
data_tre['cb_person_default_on_file_binary'] = np.where(data_tre['cb_person_default_on_file'] == 'Y',1,0)
data_tre.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0

In [24]:
person_home_ownership.head()

   OTHER  OWN  RENT
0      0    1     0
1      0    0     0
2      0    0     1
3      0    0     1
4      0    1     0

In [25]:
data_scale = data_tre.drop(['person_home_ownership','loan_intent','cb_person_default_on_file','cb_person_default_on_file_binary'], axis = 1)

In [26]:
data_scale.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
0,21,9600,5.0,1000,11.14,0,0.10,2
1,25,9600,1.0,5500,12.87,1,0.57,3
2,23,65500,4.0,35000,15.23,1,0.53,2
3,24,54400,8.0,35000,14.27,1,0.55,4
4,21,9900,2.0,2500,7.14,1,0.25,2

In [27]:
scaler = StandardScaler()

In [28]:
scaled = scaler.fit_transform(data_scale)
scaled_data = pd.DataFrame(scaled , columns= ['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_cred_hist_length'])
scaled_data.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.524111,-0.655113,-0.939656
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,1.907994,3.767461,-0.692664
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,1.907994,3.391072,-0.939656
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,1.907994,3.579267,-0.445671
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,1.907994,0.756347,-0.939656

In [29]:
scaled_data.shape

(31671, 8)

In [30]:
data_combined = pd.concat([scaled_data,person_home_ownership,loan_intent], axis = 1)
data_combined['cb_person_default_on_file'] = data_tre['cb_person_default_on_file_binary']
data_combined['loan_status'] = data_tre['loan_status']
data_combined

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,0,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,1,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,1,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,1,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,1,0.756347,-0.939656,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31666,4.753795,-0.255665,-0.938456,-0.609451,0.692028,0,-0.561016,5.976124,0,0,0,0,0,0,1,0,0
31667,4.266764,1.013916,-0.193790,1.257276,-1.154688,0,-0.184626,3.259210,0,0,0,0,0,0,1,0,0
31668,6.052547,0.180161,-0.442012,4.000141,-0.014740,1,2.732391,5.482140,0,0,1,0,1,0,0,0,0
31669,4.591451,1.582385,0.054432,0.842886,0.144853,0,-0.655113,4.988155,0,0,0,0,0,0,1,0,0
31670,6.214891,-0.464104,-0.690234,-0.502893,-0.340439,0,-0.184626,5.976124,0,0,1,0,0,1,0,0,0

In [31]:
data_combined['loan_status'].value_counts()

loan_status
0    24846
1     6825
Name: count, dtype: int64

In [32]:
data_combined = data_combined.reset_index(drop = True)

## Data Balancing

In [143]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: imbalanced-learn in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imblearn) (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy<2,>=1.10.1 in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.13.0)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: sklearn-compat<1,>=0.1 in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\seyhak jr\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (3.4.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

In [34]:
X = data_combined.drop('loan_status', axis= 1)
y = data_combined['loan_status']

In [35]:
smote = SMOTE()
X_train_balance , y_train_balance = smote.fit_resample(X, y)

In [36]:
X.shape

(31671, 16)

## Model Training

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score , r2_score , accuracy_score , precision_score ,roc_auc_score , mean_squared_error,mean_absolute_error
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

In [38]:
X_train ,X_test, y_train ,y_test = train_test_split(X , y , random_state= 42 , test_size= 0.2)

In [39]:
lg = LogisticRegression()
lg.fit(X_train,y_train)

LogisticRegression()

In [40]:
predict_lg = lg.predict(X_test)
predict_lg

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [41]:
lg.score(X_train,y_train)

0.8473713293337544

In [42]:
print(classification_report(y_test , predict_lg))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91      4984
           1       0.72      0.48      0.58      1351

    accuracy                           0.85      6335
   macro avg       0.80      0.72      0.74      6335
weighted avg       0.84      0.85      0.84      6335

In [43]:
print(lg.coef_[0])

[-0.00385423  0.08587984 -0.05465477 -0.56888849  0.94178737  1.3358415
 -0.01647353  0.46624557 -1.51791525  0.75209511 -0.82715414  0.05306678
 -0.15129791 -0.58659207 -1.00993761  0.22004799]

In [44]:
feature_importance_lg =  pd.DataFrame({
    'features': X.columns,
    'Score': lg.coef_[0]
})

## Random Forest

In [45]:
rf = RandomForestClassifier()

In [46]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [47]:
predict_rf = rf.predict(X_test)
predict_rf

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [48]:
rf.score(X_train,y_train)

1.0

In [49]:
print(classification_report(y_test,predict_rf))

              precision    recall  f1-score   support

           0       0.92      0.99      0.95      4984
           1       0.94      0.67      0.79      1351

    accuracy                           0.92      6335
   macro avg       0.93      0.83      0.87      6335
weighted avg       0.92      0.92      0.92      6335

In [50]:
print(rf.feature_importances_)

[0.05262923 0.1545128  0.06024755 0.08575735 0.18962774 0.23211417
 0.04124197 0.00129139 0.01580755 0.07959795 0.01340855 0.01673004
 0.01424463 0.012655   0.01075902 0.01937506]

In [51]:
feature_importance_rf =  pd.DataFrame({
    'features': X_train.columns,
    'Score': rf.feature_importances_
})

## XGBOOST

In [52]:
xg = XGBClassifier()

In [53]:
xg.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [54]:
xg.score(X_train, y_train)

0.9539785285759393

In [55]:
predict_xg = xg.predict(X_test)
predict_xg

array([0, 0, 0, ..., 0, 0, 0])

In [56]:
print(classification_report(y_test , predict_xg))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96      4984
           1       0.94      0.71      0.81      1351

    accuracy                           0.93      6335
   macro avg       0.93      0.85      0.88      6335
weighted avg       0.93      0.93      0.92      6335

In [57]:
feature_importance_xg = pd.DataFrame({
    'feature':X_train.columns,
    'Score': xg.feature_importances_
})

## MLPClassifisier

In [58]:
mlp = MLPClassifier()

In [59]:
mlp.fit(X_train,y_train)

C:\Users\seyhak jr\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier()

In [60]:
mlp.score(X_train,y_train)

0.9136011998736975

In [61]:
predict_mlp = mlp.predict(X_test)

In [62]:
print(classification_report(y_test,predict_mlp))

              precision    recall  f1-score   support

           0       0.91      0.96      0.94      4984
           1       0.84      0.67      0.74      1351

    accuracy                           0.90      6335
   macro avg       0.88      0.82      0.84      6335
weighted avg       0.90      0.90      0.90      6335

In [63]:
data_combined

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,0,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,1,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,1,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,1,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,1,0.756347,-0.939656,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31666,4.753795,-0.255665,-0.938456,-0.609451,0.692028,0,-0.561016,5.976124,0,0,0,0,0,0,1,0,0
31667,4.266764,1.013916,-0.193790,1.257276,-1.154688,0,-0.184626,3.259210,0,0,0,0,0,0,1,0,0
31668,6.052547,0.180161,-0.442012,4.000141,-0.014740,1,2.732391,5.482140,0,0,1,0,1,0,0,0,0
31669,4.591451,1.582385,0.054432,0.842886,0.144853,0,-0.655113,4.988155,0,0,0,0,0,0,1,0,0
31670,6.214891,-0.464104,-0.690234,-0.502893,-0.340439,0,-0.184626,5.976124,0,0,1,0,0,1,0,0,0

In [64]:
feature_importance = pd.concat([feature_importance_lg, feature_importance_rf, feature_importance_xg], axis=1)
feature_importance

,features,Score,features,Score,feature,Score
0,person_age,-0.003854,person_age,0.052629,person_age,0.016061
1,person_income,0.085880,person_income,0.154513,person_income,0.040172
2,person_emp_length,-0.054655,person_emp_length,0.060248,person_emp_length,0.022732
3,loan_amnt,-0.568888,loan_amnt,0.085757,loan_amnt,0.014412
4,loan_int_rate,0.941787,loan_int_rate,0.189628,loan_int_rate,0.066001
5,loan_percent_income,1.335842,loan_percent_income,0.232114,loan_percent_income,0.160115
6,cb_person_cred_hist_length,-0.016474,cb_person_cred_hist_length,0.041242,cb_person_cred_hist_length,0.012230
7,OTHER,0.466246,OTHER,0.001291,OTHER,0.026146
8,OWN,-1.517915,OWN,0.015808,OWN,0.099065
9,RENT,0.752095,RENT,0.079598,RENT,0.232769
10,EDUCATION,-0.827154,EDUCATION,0.013409,EDUCATION,0.047590
11,HOMEIMPROVEMENT,0.053067,HOMEIMPROVEMENT,0.016730,HOMEIMPROVEMENT,0.084404
12,MEDICAL,-0.151298,MEDICAL,0.014245,MEDICAL,0.052053
13,PERSONAL,-0.586592,PERSONAL,0.012655,PERSONAL,0.040505
14,VENTURE,-1.009938,VENTURE,0.010759,VENTURE,0.059329
15,cb_person_default_on_file,0.220048,cb_person_default_on_file,0.019375,cb_person_default_on_file,0.026416

## Further Explantion

In [65]:
lg_prediction = pd.DataFrame({
    'test_indice_lg': X_test.index,
    'lg_pred' : predict_lg
})
rf_prediction = pd.DataFrame({
    'test_indice_rf': X_test.index,
    'rf_pred' : predict_rf
})
xg_prediction = pd.DataFrame({
    'test_indice_xg': X_test.index,
    'xg_pred' : predict_xg
})
mlp_prediction = pd.DataFrame({
    'test_indice_mlp': X_test.index,
    'mlp_pred' : predict_mlp
})

In [66]:
data_combined.loc[18496]

person_age                    0.857541
person_income                -0.987096
person_emp_length            -1.186678
loan_amnt                    -1.193543
loan_int_rate                 1.359712
loan_status                   1.000000
loan_percent_income          -0.184626
cb_person_cred_hist_length    1.036281
OTHER                         0.000000
OWN                           0.000000
RENT                          1.000000
EDUCATION                     0.000000
HOMEIMPROVEMENT               0.000000
MEDICAL                       0.000000
PERSONAL                      0.000000
VENTURE                       1.000000
cb_person_default_on_file     1.000000
Name: 18496, dtype: float64

In [67]:
xg_prediction.iloc[3]

test_indice_xg    18496
xg_pred               1
Name: 3, dtype: int64

In [68]:
data_tre

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
31666,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,0.11,N,30,0
31667,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,0.15,N,19,0
31668,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,0.46,N,28,0
31669,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,0.10,N,26,0
31670,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,0.15,N,30,0

In [69]:
merge_ori = data_tre.merge(xg_prediction, left_index= True , right_on= 'test_indice_xg',how = 'left')
merge_ori

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary,test_indice_xg,xg_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,0,NaN
NaN,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0,1,NaN
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0,2,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1,3,NaN
NaN,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,0.11,N,30,0,31666,NaN
NaN,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,0.15,N,19,0,31667,NaN
3570.0,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,0.46,N,28,0,31668,1.0
NaN,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,0.10,N,26,0,31669,NaN
NaN,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,0.15,N,30,0,31670,NaN

In [70]:
merge_lg = merge_ori.merge(lg_prediction,left_index= True , right_on= 'test_indice_lg' , how= 'left')
merge_lg

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary,test_indice_xg,xg_pred,test_indice_lg,lg_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,0,NaN,NaN,NaN
NaN,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0,1,NaN,NaN,NaN
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0,2,NaN,NaN,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1,3,NaN,NaN,NaN
NaN,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,0.11,N,30,0,31666,NaN,NaN,NaN
NaN,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,0.15,N,19,0,31667,NaN,NaN,NaN
NaN,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,0.46,N,28,0,31668,1.0,3570.0,NaN
NaN,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,0.10,N,26,0,31669,NaN,NaN,NaN
NaN,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,0.15,N,30,0,31670,NaN,NaN,NaN

In [71]:
merge_rf = merge_ori.merge(rf_prediction,left_index= True , right_on= 'test_indice_rf' , how= 'left')
merge_rf

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary,test_indice_xg,xg_pred,test_indice_rf,rf_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,0,NaN,NaN,NaN
NaN,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0,1,NaN,NaN,NaN
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0,2,NaN,NaN,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1,3,NaN,NaN,NaN
NaN,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,0.11,N,30,0,31666,NaN,NaN,NaN
NaN,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,0.15,N,19,0,31667,NaN,NaN,NaN
NaN,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,0.46,N,28,0,31668,1.0,3570.0,NaN
NaN,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,0.10,N,26,0,31669,NaN,NaN,NaN
NaN,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,0.15,N,30,0,31670,NaN,NaN,NaN

In [72]:
merge_mlp = merge_ori.merge(mlp_prediction,left_index= True , right_on= 'test_indice_mlp' , how= 'left')
merge_mlp

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary,test_indice_xg,xg_pred,test_indice_mlp,mlp_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,0,NaN,NaN,NaN
NaN,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0,1,NaN,NaN,NaN
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0,2,NaN,NaN,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1,3,NaN,NaN,NaN
NaN,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,0.11,N,30,0,31666,NaN,NaN,NaN
NaN,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,0.15,N,19,0,31667,NaN,NaN,NaN
NaN,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,0.46,N,28,0,31668,1.0,3570.0,NaN
NaN,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,0.10,N,26,0,31669,NaN,NaN,NaN
NaN,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,0.15,N,30,0,31670,NaN,NaN,NaN

In [73]:
merge_ori = data_tre.merge(xg_prediction, left_index=True, right_on='test_indice_xg', how='right')
merge_ori

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary,test_indice_xg,xg_pred
0,25,85000,MORTGAGE,0.0,EDUCATION,2800,7.49,0,0.03,N,3,0,12377,0
1,32,27840,RENT,3.0,PERSONAL,6000,10.99,0,0.22,Y,5,1,20865,0
2,22,35000,RENT,4.0,VENTURE,1000,10.99,0,0.03,Y,3,1,1328,0
3,33,14400,RENT,0.0,VENTURE,2100,15.21,1,0.15,Y,10,1,18496,1
4,35,72000,MORTGAGE,4.0,MEDICAL,15000,10.59,0,0.21,N,6,0,23653,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6330,23,35000,RENT,2.0,DEBTCONSOLIDATION,22250,12.69,1,0.64,N,3,0,482,1
6331,38,108000,MORTGAGE,7.0,VENTURE,4000,7.74,0,0.04,N,11,0,30699,0
6332,22,22000,MORTGAGE,6.0,EDUCATION,7000,11.71,0,0.32,N,2,0,772,0
6333,32,140000,MORTGAGE,16.0,VENTURE,25000,10.08,0,0.18,N,7,0,26694,0
6334,25,50300,MORTGAGE,3.0,HOMEIMPROVEMENT,1000,18.39,0,0.02,Y,3,1,6662,0